@import "./css/progress.css";
@import "./css/circleMenu.css";
@import "./css/btnNavbar.css";
@import "./css/menu.css";

/* rest style */

@font-face {
  font-family: IRANSansWeb;
  src: url(../../fonts/IRANSansWeb.eot) format("eot"),
    url(../../fonts/IRANSansWeb.woff) format("woff"),
    url(../../fonts/IRANSansWeb.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSansWeb;
  direction: rtl;
}
a {
  text-decoration: none;
}
li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* rest style */

/* container style  */
.container {
  display: flex;
  overflow: hidden;
  width: 100vw;
  background-color: rgb(36, 34, 34);
  height: 100vh;
}

.wrapper-right,
.wrapper-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content-top,
.content-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container style  */
